@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row"
     <div class="col>
			<p>
			A JRNET está a mais de 8 anos na área trazendo um novo conceito tanto em navegação casual quanto profissional, 
			conta com uma equipe profissional altamente qualificada com experiência no mercado. 
			Localizada no Grajaú, temos	cobertura por quase toda região, entre em contato para saber se estamos disponível.
			</p> 
	</div>		
</div>
